$base_font_size: 15px;
$min_width: 750px;
$max_width: $min_width + 1;

header{
  width: 100%;
  font-size: $base_font_size;
  padding: 15px;
  background-color: #333;
  p{
    color: white;
    text-align: left;
  }
}

aside{
	width:25%;
}


div{
	border-radius: 10px;
	padding: 10px;
	.container{
		background-color: black;
		display: inline-block;
		width: 40%;
	}
	.main-header{
		background-color: green;
		h1, h2{
			text-align: center;
		}
		h1{
			font-weight: bold;
			font-size: 130%
		}
		h2{
			font-style: italic;
		}
	}
	.articles{
		article{
			display: inline-block;
			padding: 10px;
			margin-top: 15px;
			background-color: #A2C4C9;
			h1{
				font-style: bold;
				text-align: center;
			}
			h2{
				font-size: 10px;
				text-align: center;
			}
			h3{
				font-size: 13px;
				font-style: italic;
				font-weight: bold;
			}
			p{
				font-size:10px;
			}
		}
	}
}

footer {
	float: left;
	margin-top: 15px;
	background-color: #9FC5F8;
	border-radius: 10px;
	border: 1px dashed black;
	padding: 10px;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@media (screen and min-width: $min_width){
	.container{
		max-width: 900px;
		width:100%;
	}
}

@media (screen and max-width: $max_width){
	.container{
		max-width:100%;
		width:100%;
	}
}

.container {
	float: left;
	margin-top: 10px;

	article {
		width: 30%;
		float: left;
		margin-left:1%;
		margin-right:1%;
		border-radius: 10px;
		border: 1px dashed black;
	}

	article:nth-of-type(3){
		width: 20%;
	}

	@media (screen and min-width: $min_width){
		article {
			width: 20%;
			float: left;
			margin-left:1%;
			margin-right:1%;
		}

		article:nth-of-type(3){
			width: 20%;
			float: left;
			margin-left:1%;
			margin-right:1%;
		}
	}
}

aside {
	display: none;
}

@media (screen and min-width: $min_width) {
	aside {
		margin-top: 80px;
		margin-left: 20px;
		margin-right: 20px;
		width: 200px;
		height: 300px;
		float: left;
		display: table;
		background-color: #D5A6BD;
		border: 1px solid black;

		div {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		img {
			width: 150px;
			height: 200px;
		}
	}
}



